body {
   font-family: 'Playfair Display', serif;
   max-width: 800px;
   margin: 0 auto;
   
}


ul {
   align-items: center;
   margin: 0;
   padding: 0;
}

ul li {
   
   display: inline-block;
   
   
}

ul li:not(:last-child) {
   margin-right: 60px;
}



a {
   color: #000000;
   text-decoration: none;

}

a:hover {
   color: red;
   text-decoration: underline;
}