* {
   box-sizing: border-box;
}

*,
*::before, 
*::after {
   box-sizing: inherit;
}


body {
   font-size: 14px;
   font-family: 'Playfair Display', serif;
   
}

h2 {
   font-size: 30px;
   color: #626262;
}

/* Header=========================
================================== */
.container {
   width: 900px;
   margin: 0 auto;
}

.header {
   margin-top: 74px;
   margin-bottom: 100px;
}

.nav {
   
}

.nav__list {
   margin: 0;
   padding: 0;
}

.nav__link {
   display: inline-block;
   margin-right: 120px;
}

.nav__list li:last-child {
   margin-right: 0;
}

.nav__list li:first-child {
   margin-left: 120px;
}

.nav__list a {
   text-transform: uppercase;
   text-decoration: none;
   color: #626262;
   
}

.nav__list a:hover {
   color: #25b4f5;
}

.nav__list a:focus {
   color: #25b4f5;
}

/* .nav__link:not(:nth-child(4n)) {
   margin-right: 120px;
} */

/* Section
=========================
================================== */

.section {
   font-size: 0;
}
.all-items {
   padding: 0;
   margin: 0;
}
.all-items li {
   
   list-style-type: none; 
   font-size: 14px;
   
  }
.items {
   display: inline-block;
   width: 420px;
   margin-right: 60px;
   margin-bottom: 130px;   
}

.items:nth-child(5) {
   margin-bottom: 0;
}

.items:nth-child(6) {
   margin-bottom: 0;
}

.items:nth-child(even) {
   margin-right: 0px;
}
   

.about__item {
   color: #b4ad9e;
   text-transform: uppercase;
}
.text__item {
   color: #626262;
   line-height: 24px;
   margin-bottom: 0;
   /* margin-bottom: 130px; */
}

.bnt {
   display: block;
   margin: 54px auto 68px;
   padding: 24px 34px;
   font-size: 20px;
   
   text-decoration: none;
}

.bnt a{
   text-decoration: none;
   color: #626262;
}

.bnt a:hover {
   color: #25b4f5;
}

.bnt a:focus {
   color: #25b4f5;
}

