* {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: #000000;
}
ul {
   padding: 0;
   margin: 0;
}
.nav_link a:hover {
   color: #1abc9c;
}
li {
   list-style: none;
   margin: 0;
}
body {
   font-size: 14px;
   font-family: "Open Sans", sans-serif;
}
.clearfix:after {
   display: table;
   content: "";
   clear: both;
}
h1 {
   font-family: "Roboto", sans-serif;
   font-size: 48px;
   font-weight: 700;
   color: #555252;
   text-align: center;
   letter-spacing: px;
   margin: 0;
   margin-bottom: 90px;
}
h1::after {
   display: block;
   width: 165px;
   content: "";
   border-bottom: 4px solid #1abc9c;
   margin-top: 25px;
   margin-left: 43%;
}

h2 {
   font-family: "Roboto", sans-serif;
   font-size: 48px;
   font-weight: 700;
   margin: 0;
   color: #555252;
   text-align: center;
   letter-spacing: -1px;
   margin-bottom: 35px;
}

h2::after {
   display: block;
   width: 165px;
   content: "";
   border-bottom: 4px solid #1abc9c;
   margin-top: 25px;
   margin-left: 42%;
}

.container {
   max-width: 1110px;
   margin: 0 auto;
}

header {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   font-weight: 300;
   margin-top: 35px;
}
.logo {
   font-size: 30px;
}
.logo_m {
   font-size: 30px;
   font-weight: 700;
   color: #1abc9c;
}
.nav {
   font-family: "Open Sans", sans-serif;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   float: right;
   margin-right: -10px;
}
.nav_list {
   width: 475px;
   margin: 10px;
   padding: 0;
}
.nav_link {
   float: right;
   margin-left: 33px;
}
.nav_link:last-child {
   margin: 0;
}
.section {
   margin-top: 100px;
   font-size: 0;
}
.product {
   width: 255px;
   height: 372px;
   margin-top: 0px;
   margin-right: 30px;
   margin-left: 0px;
   float: left;
   background-color: #333333;
}

.product:nth-child(4n + 4) {
   margin-right: 0px;
}
.name_p {
   float: left;
   width: 165px;
   margin: 0px;
   padding: 15px;
   font-size: 18px;
   font-weight: 900;
   color: #ffffff;
   text-transform: uppercase;
}

.price_p {
   float: right;
   width: 30px;
   margin: 0;
   padding: 15px;
   font-size: 18px;
   font-weight: 900;
   color: #ffffff;
   background-color: rgba(255, 255, 255, 0.44);
}


.product:hover  {
   background-color: #1abc9c;
}

.section_2 {
   margin-top: 100px;
}
.blog {
   margin-left: -40px;
   margin-top: 40px;
   margin-right: 70px;
   width: 350px;
   float: left;
}
.blog:last-child {
   margin-right: 0;
}
.blog p {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   margin-top: 30px;
   font-size: 14px;
   letter-spacing: -0.5px;
}
.blog h3 {
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
   font-weight: 600;
   text-align: left;
}
.blog h3::after {
   display: block;
   width: 136px;
   margin-top: 15px;
   content: "";
   border-bottom: 4px solid #1abc9c;
}

.button {
   width: 90px;
   background: #4ec6ab;
   padding: 15px 40px;
   border-radius: 3px;
}

.btn_text {
   color: #ffffff;
   font-size: 16px;
   font-weight: 300;
}
